*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100vh;

  @media (min-width: $md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}